---
interface Post {
    title: String;
    slug: String;
    description: String;
    pubDate: String;
    tags: string[];
    categories: string[];
    heroImage: String;
    link: String;
}

const { title, link, description, pubDate, tags, categories, heroImage } =
    Astro.props as Post;
---

<div
    class="flex flex-row w-full py-10 border-b border-purple-100 justify-between content-center"
>
    <div class="max-w-md">
        <div class="flex flex-row content-center py-4">
            {
                tags.map((tag) => (
                    <p class="py-1 px-2 mr-3 rounded-md bg-purple-200 font-medium text-purple-800">
                        {tag}
                    </p>
                ))
            }
            <time
                class="pl-4 text-gray-600 uppercase font-medium text-xs self-center"
                >{pubDate}
            </time>
        </div>
        <div>
            <a href={link as string} class="text-3xl font-bold hover:text-purple-900">
                {title}
            </a>

            <p class="text-gray-900 opacity-90 pt-3">{description}</p>
        </div>
    </div>
    <img
        loading="lazy"
        class="rounded-md"
        src={heroImage as string}
        width={200}
        height={200}
    />
</div>
