---
---

<div
    class="container bg-purple-700 max-w-3xl text-center mt-20 py-16 rounded-lg"
>
    <p class="text-3xl font-semibold pb-1 text-white">Subscribe to me blog</p>
    <p class="text-white text-opacity-80">I post fresh content every week</p>
    <div class="pt-10">
        <input
            type="text"
            class="py-3 px-5 rounded-l-md text-sm"
            placeholder="subscribe"
        />
        <button
            class="bg-purple-50 bg-opacity-20 text-purple-50 text-sm uppercase font-medium py-3 px-5 rounded-r-md -ml-1"
            >subscribe
        </button>
    </div>
</div>
